<div class="container">
  <p class="h4 font-weight-bold" style="margin-left: 20px;">マイページ</p>
  <div style="display: inline-block;">
    <div clas="col">
      <p  style="display: inline-block; width:120px;" class="h5 font-weight-bold mt-3">登録情報</p>
      <p  style="display: inline-block; width:120px;" ><%= link_to "編集する", edit_customer_path(current_customer.id), class: "btn btn-success" %></p>
    </div>
    <table>
      <tbody  class="table table-bordered">
        <tr>
          <td>氏名</td>
          <td style="width: 500px;"><%= @customer.first_name + @customer.last_name %></td>
        </tr>
        <tr>
          <td>カナ</td>
          <td style="width: 500px;"><%= @customer.first_name_kana + @customer.last_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td style="width: 500px;"><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td style="width: 500px;"><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td style="width: 500px;"><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    <div clas="col">
      <p  style="display: inline-block; width:120px;" class="h5 font-weight-bold mt-3">配送先</p>
      <p  style="display: inline-block; width:120px;" ><%= link_to "一覧を見る", addresses_path(params[:id]),class: "btn btn-primary"  %></p>
    </div>
    <div clas="col">
      <p  style="display: inline-block; width:120px;" class="h5 font-weight-bold">注文履歴</p>
      <p  style="display: inline-block; width:120px;" ><%= link_to "一覧を見る", orders_path(params[:id]),class: "btn btn-primary" %></p>
    </div>
  </div>
</div>
