<div class="container">
  <p class="h4 m-5">注文履歴詳細</p>
  <div style="display: inline-block; margin-right: 50px;">
    <p class="h5 font-weight-bold ">注文情報</p>
    <table>
      <tr>
        <td style="width: 140px;">購入者</td>
        <td style="width: 300px;">        
          <%= link_to admin_customer_path(@order.customer.id) do %>
          <%= @order.customer.first_name + @order.customer.last_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td style="width: 140px;">注文日</td>
        <td style="width: 300px;"><%= @order.created_at %></td>
      </tr>
      <tr>
        <td style="width: 150px;">配送先</td>
        <td style="width: 400px;">
          〒<%= @order.postal_code %><br>
          <%= @order.address %><br>
          <%= @order.name %>
        </td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
    </table>
  </div>
  <div style="display: inline-block; margin:20px;">
    <table class="table table-bordered",  style="width: 600px;">
      <tr>
        <td style="width: 300px;">商品名</td>
        <td>単価(税込)</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
      <% @order_items.each do |order_item| %>
      <tr>
        <td style="width: 300px;"><%= order_item.item.name %></td>
        <td><%= (order_item.item.price * 1.1).floor.to_s(:delimited) %></td>
        <td><%= order_item.amount %></td>
        <td>
          <% subtotal = ((order_item.item.price*order_item.amount)*1.1).to_i %>
          <%= subtotal %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <div style="display: inline-block; margin-left:20px;">
    <p class="h5 font-weight-bold">請求情報</p>
    <table>
      <tr>
        <td style="width: 150px;">商品合計</td>
        <td style="width: 150px;"><%= @total.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td style="width: 150px;">送料</td>
        <td style="width: 150px;"><%= @order.postage %></td>
      </tr>
      <tr>
        <th style="width: 150px;">請求金額</th>
        <th style="width: 150px;"><%= @total_payment.to_s(:delimited) %></th>
      </tr>
    </table>
  </div>
</div>
