<div class="container">
  <p class="h4">注文履歴一覧</p>
  <div>
    <table style="margin-top: 30px; width: -webkit-fill-available;;">
      <tr class="border-top border-bottom">
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
      </tr>
      <% @orders.each do |order| %>
      <tr style="height: 50px; text-underline: auto;">
        <td>
          <%= link_to admin_order_path(order.id) do %>
          <%= order.created_at %>
          <% end %>
        </td>
        <td><%= order.customer.first_name + order.customer.last_name %></td>
        <% total = 0 %>
        <% order.order_items.each do |order_item| %>
        <% total += order_item.amount %>
        <% end %>
        <td><%= total %></td>
      </tr>
      <% end %>
    </table>
    <div style="margin-left: 450px; margin-top: 50px;">
      <%= paginate @orders %>
    </div>
  </div>
</div>
