<div class="container">
  <div>
    <div>
      <p class="h4">注文情報入力</p>
    </div>
    <% if @address_new.errors.any? %>
    <%= @address_new.errors.count %>件のエラーが発生しました
    <% @address_new.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  　<% end %>
  　<%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
  　<div class="text-left">
      <p class="h5 font-weight-bold">支払方法</p>
    </div>
    <div class="col">
      <table>
        <tr>
          <td>
            <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
          </td>
        </tr>
      </table>
    </div>
    <div class="text-left">
      <p class="h5 font-weight-bold">お届け先</p>
    </div>
    <div class="col ">
      <p class="mb-0"><%= f.radio_button :address_id, 1, checked: true %> <%= f.label :address_id_1, "ご自身の住所" %></p>
    </div>
    <div class="col ml-2">
      <p class="mb-0">〒<%= current_customer.postal_code %> <%= current_customer.address %></p>
    </div>
    <div class="col ml-2">
      <p class="mb-0 ml-2"><%= current_customer.first_name %><%= current_customer.last_name %></p>
    </div>
    <div class="col">
      <p class="mb-0"><%= f.radio_button :address_id, 2  %> <%= f.label :address_id_2, "登録済住所から選択" %> </p>
      <p class="mb-0 ml-2"><%= f.select :address_select, options_from_collection_for_select(Address.all, :id, :full_address) %></p>
    </div>
    <div class="col">
      <p class="mb-0"><%= f.radio_button :address_id, 3 %> <%= f.label :address_id, "新しいお届け先" %></p>
      <p class="mb-0"> </p>
    </div>
    <div>
      <table>
        <tbody class="table table-borderless mb-0">
          <tr>
            <td>
              <%= f.label :postal_code, "郵便番号(ハイフンなし)", style: "width: 200px; margin-left: 20px;" %>
              <%= f.text_field :postal_code %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label :address, "住所", style: "width: 200px;  margin-left: 20px;"  %>
              <%= f.text_field :address %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label :address_name, "宛名", style: "width: 200px;  margin-left: 20px;"  %>
              <%= f.text_field :address_name %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <p style="text-align: center;"><%= f.submit "確認画面へ進む" %></p>
    </div>
    <% end %>
  </div>
</div>

