<h4>注文情報入力</h4>
  <% if @address_new.errors.any? %>
    <%= @address_new.errors.count %>件のエラーが発生しました
    <% @address_new.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <%= form_with model: @order, url: orders_comfirm_path, local: true do |f| %>

  <table>
    <th>支払方法</th>
  <tr>
    <td>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
    </td>
  </tr>
   <th>お届け先</th>
  <tr>
    <td>
      <%= f.radio_button :address_id, 1, checked: true %>
      <%= f.label :address_id_1, "ご自身の住所" %>
    </td>
  </tr>
  <tr>
    <td>
      〒<%= current_customer.postal_code %>
      <%= current_customer.address %>
    </td>
  </tr>
  <tr>
    <td>
      <%= current_customer.first_name %>
      <%= current_customer.last_name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.radio_button :address_id, 2  %>
      <%= f.label :address_id_2, "登録済住所から選択" %>
    </td>
  </tr>
  <tr>
    <td>
     <%= f.select :address_select, options_from_collection_for_select(Address.all, :id, :full_address) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.radio_button :address_id, 3 %>
      <%= f.label :address_id, "新しいお届け先" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
      <%= f.text_field :postal_code %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :address, "住所" %>
      <%= f.text_field :address %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :address_name, "宛名" %>
      <%= f.text_field :address_name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.submit "確認画面へ進む" %>
    </td>
  </tr>
   <% end %>
</table>
