<div class="container">
    <div class="row h-50">
      <div class="col-sm mt-5 ml-5 float-right">
        <%= attachment_image_tag @item, :image, size: "300x200" %>
      </div>
      <div class="col-sm mt-5 ">
        <h3><%= @item.name %></h3>
        <p><%= @item.introduction %></p>
        <h4 style="margin: 10px;">¥<%= (@item.price * 1.1).floor.to_s(:delimited) %>(税込)</h4>
        <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
        <a class="mr-5">
          <%= f.select :amount, *[1..10] %>
          <%= f.hidden_field :item_id, value: @item.id %>
        </a>
        <a>
           <%= f.submit 'カートに入れる', class: "btn btn-success" %>
        </a>
        <% end %>
    　 </div>
  　 </div>
  </div>
<div>