<div>
  <%= attachment_image_tag @item, :image, size: "60x60" %>
  <h1><%= @item.name %></h1>
  <p><%= @item.introduction %></p>
  <p>¥<%= (@item.price * 1.1).floor.to_s(:delimited) %>(税込)</p>
  <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
  <%= f.select :amount, *[1..10] %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit 'カートに入れる' %>
  <% end %>
</div>